alignments/
alignments-new/
data/
db*/
images/
page-txts/
tasks/
venv/
error_file.txt
src/__pycache__/
alignments-error/
example_result.txt
file_alignment_errors.json
results.txt
threshold-errors
.idea/
