alignments/
alignments-old/
outputs/
data/mapping-all.txt
data/mzk01.bib
data/mzk03.bib
db*/
images/
page-txts/
tasks/
venv/
error_file.txt
src/__pycache__/
alignments-error/
example_result.txt
file_alignment_errors.json
results.txt
threshold-errors
.idea/
mzk_karticky.egg-info/
alignments-fuzzy/
overtraining/
problems/
__pycache__/
experiments/
data/alignment.trn
data/alignment.val
data/alignment-fuzzy.zip
data/all-karticky-ocr/
data/alignments.zip
data/vocab.txt
src/bert/run.sh
data/tokenizer/
test-inference/
test-training-output/
test-training.sh
test-testing.sh
test-inference.sh
test-inference-output/
src/NER/charset.py
data/alignments.long
data/token_lengths.txt
scripts/confidence.out
